html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0e153a;
}

.App {
  align-content: center;
  text-align: center;
  color: #e2f3f5;
}

h3 {
  color: #30e3ca;
}

